@{
    ViewData["Title"] = "Home Page";
}




<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To MoonBurn Casino!</p>
</div>


@if (User.Identity.IsAuthenticated)
{
    

    <h3>Logged in Identity UserName: @User.Identity.Name</h3>
    <h3>Is User Authenticated?(T/F): @User.Identity.IsAuthenticated</h3>
}
else
{
    <h1> No one is logged in</h1>
}

